// Body
$body-bg: #fafafa;
$font-size-base: .875rem;

// Breadcrumbs

$breadcrumb-padding-y:              .5rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-bg:                     #e9ecef !default;
$breadcrumb-divider-color:          #ced4da !default;
$breadcrumb-active-color:           #ced4da !default;